
<style>
    .container{
        height: 700px;
        width: 700px;
    }
    .main{
        height: 500px;
        width: 300px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
    }
</style>

    <div class="main">
        <h3>Register</h3>
        <partial name="RegPartial" />
    </div>

    <div class="main">
        <h3>Login</h3>
    <partial name="LogPartial" />
    </div>
